.btn {
	display:flex;
	color: #fff;
	border-radius: rem(4px);
	align-items: center;
	justify-content: center;
	background: #3F8E00;
	width: rem(190px);
	height: rem(38px);
	& span{
		padding-left: rem(10px);
	}
}
.btn--orange{
	background: #FFA217;
}
.btn--blue{
	background: #000AFF;
}
.btn--green-blue{
	background: #2AB090;
}
.btn--main {
width: rem(307px);
height: rem(63px);
font-size: rem(16px);
@include tablets{
	width: rem(260px);
}
}

.btn--short {
	width: rem(140px);
}